
<div class="container py-4">
  <div class="social-links mt-3"> 
     <span><strong>Follow Me</strong></span>&nbsp;&nbsp;
     <a href="https://github.com/wcontayon/Adom.Framework" class="followme-box"><i class="bx bxl-github"></i></a> 
     <a href="https://www.linkedin.com/in/wcontayon/" class="followme-box"><i class="bx bxl-linkedin"></i></a>
  </div>
</div>