  {{> indexheader }}

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h3>Get in touch on <span>.Net, .Net Core, AspNetCore and Azure</span></h3>
          <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row">
            {{#each (limit articles 10 0) }}

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box" style="padding:34px;text-align:left;">
                      <h4><a href="/{{ path }}">{{ title }}</a></h4>
                      <p>{{{ excerpt }}}</p>
                    </div>
                </div>

            {{/each}}
        </div>

      </div>
     
      </ul>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  {{> indexfooter }}